.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 385px;
  padding-top: 30px;
  background: linear-gradient(#4db1f8 100%, #2580c1 100%);
  width: 100%;
}

.logo {
  margin-bottom: 45px;
}

.card-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
