.app__button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100%;
  width: 100%;
  background-color: #0000aa; //test color
}

.app__button {
  width: 120px;
  height: 60px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  transition: background-color 0.3s, color 0.3s;
}

.app__button--login {
  background-color: #f0f8ff;
  color: #00f;
}

.app__button--login:hover {
  background-color: #cce0ff;
  color: #00f;
}

.app__button--register {
  background-color: #00f;
  color: #fff;
}

.app__button--register:hover {
  background-color: #0000aa;
  color: #fff;
}
