.search {
  position: relative;
  width: 310px;
  height: 40px;
  border-radius: 4px;
  background-color: #ffffff; //test
  border: 1px solid #cccccc;

  .search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
  }

  input {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    font-size: 16px;
  }
}
