.exchange-rate {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 225px;
  color: black;

  gap: 16px;
}

.currency {
  background-color: aquamarine;
  width: 100%;
  height: 170px;
}
